.buttonGroupCustom{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.canvasContainer{
    width: 100%;
    text-align:center;
}
.canvasCustom{
    display: inline;
}
.btnCustom{
    background: black;
    color: white;
    font-weight: 500 !important;

}